#about {
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
}

.about-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.05); 
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  margin-top : 100px;
}

.about-container.visible {
  animation: fadeInAbout 2s ease;
} 

.about-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--accent-light);
  text-align: center;
}

.about-content p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: var(--text-color); 
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInAbout {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
