#contact {
  display: flex;
  justify-content: center; 
  align-items: center;
  min-height: 100vh;
}

.contact-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  color: #B0B0B0; 
}

.contact-container.visible {
  animation: fadeInContact 2s ease;
}

.contact-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: var(--accent-light);
  text-align: center;
}

.contact-content p {
  font-size: 1.2rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: var(--text-color);
}

.contact-options {
  text-align: center;
  margin: 30px 0;
}

.email-button {
  padding: 12px 25px;
  border-radius: 50px;
  background-color: #D19AAB; 
  font-size: 1.2rem;
  color: #FFFFFF; 
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.email-button.visible {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.email-button:hover {
  background-color: var(--accent-light);
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

.contact-note {
  margin-top: 30px;
  font-size: 1.2rem;
  text-align: center;
  color: var(--text-color);
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 15px; 
}

.social-button {
  padding: 10px 20px;
  background-color: #D19AAB; 
  font-size: 1.2rem;
  border-radius: 10px;
  color: #FFFFFF; 
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  flex-grow: 1; 
  text-align: center; 
}

.social-button.visible {
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.social-button:hover {
  background-color: var(--accent-light);
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
}

@keyframes fadeInContact {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
