.experience-item {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.experience-title {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--accent-light);
  text-align: left;
}

.experience-role {
  display: inline-block;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
  margin-bottom: 10px;
  font-weight: bold;
  margin-top: 5px;
}

.experience-role.intern {
  background-color: #f0a500; 
}

.experience-role.developer {
  background-color: #4CAF50; 
}

.experience-role.lead {
  background-color: #1E90FF; 
}

.experience-description {
  font-size: 1rem;
  margin-bottom: 15px;
  color: var(--text-color);
  line-height: 1.5;
  text-align: left;
}

.experience-duration {
  font-size: 0.9rem;
  color: var(--text-muted);
  font-weight: bold; 
  margin-top: 10px;
}
