---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';

const title = "Arun George Saji - About";
---

<Layout title={title}>
  <Banner />

  <div class="about-container">
    <h1 class="about-title">About Me</h1>
    <div class="about-content">
      <p>
        I'm a passionate programmer on a constant quest for innovation, striving to carve my niche in the tech world. With a knack for swiftly mastering programming languages, I relish turning ideas into reality through innovative projects.
      </p>
      <p>
        Linux is my trusted companion, empowering my journey as I delve into various technical domains. From video and photo editing to digital art and music creation, I thrive on pushing boundaries.
      </p>
      <p>
        My expertise extends beyond the virtual realm; I'm well-versed in hardware intricacies, especially in microcontrollers, single-board computers, and computer hardware. 
      </p>
      <p>
        Beyond coding, I’m passionate about sharing my knowledge with others. I offer mentorship to those eager to learn and grow in their own tech journeys. Whether it’s programming, hardware, or AI tools, I enjoy helping others unlock their potential and guiding them through challenges.
      </p>
      <p>
        Prompt engineering is my forte, aided by the adept utilization of AI tools for task optimization. I'm constantly pushing forward, experimenting, learning, and innovating.
      </p>
    </div>
  </div>
</Layout>

<style>
  .about-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.05); 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    animation: fadeIn 2s ease;
  }

  .about-title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: var(--accent-light);
    text-align: center;
  }

  .about-content p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
    color: var(--text-color); 
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(30px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>


