---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro';
import BlogPostCard from '../components/BlogPostCard.astro';
import "../styles/blog.css";
const title = "Arun George Saji";

const blogPosts = [];

const importBlogPosts = async () => {
  const postFiles = [
    import('../content/blog/post1.ts'),
    // Add more imports as needed
  ];

  const posts = await Promise.all(postFiles);
  posts.forEach((post) => {
    const postData = Object.values(post)[0]; 
    blogPosts.push(postData);
  });
};

await importBlogPosts();
---

<Layout title={title}>
  <Banner />
  <header class="blog-header">
      <h1>Latest Blog Posts</h1>
      <p class="blog-subtitle">Stay updated with the latest tutorials and guides on Linux, security, and productivity.</p>
  </header>

  <main class="blog-main">
    <section class="blog-posts-grid">
      {blogPosts.map((post) => (
        <BlogPostCard 
          title={post.title}
          description={post.description}
          link={`/blog/${post.title.replace(/\s+/g, '-').toLowerCase()}`} 
          date={post.date}
        />
      ))}
    </section>
  </main>
</Layout>

