---
import Layout from '../layouts/Layout.astro';
import Banner from '../components/Banner.astro'; 

const title = "Arun George Saji";
---

<Layout title={title}>
  <Banner />
  <br><br><br><br><br>
  <div class="profile-container">
    <img src="programming.gif" alt="Animated GIF" class="profile-gif fade-in"/>
  </div>
  <div class="word-fade-container">
    <h1 class="hover-scale">
      <span class="word-fade" style="animation-delay: 0s;">Hello</span>
      <span class="word-fade" style="animation-delay: 0.2s;">I</span>
      <span class="word-fade" style="animation-delay: 0.4s;">am</span>
      <span class="word-fade" style="animation-delay: 0.6s;">Arun</span>
      <span class="word-fade" style="animation-delay: 0.8s;">George</span>
      <span class="word-fade" style="animation-delay: 1s;">Saji</span>
    </h1>
    <h2 class="hover-scale">
      <span class="word-fade" style="animation-delay: 1.2s;">Welcome</span>
      <span class="word-fade" style="animation-delay: 1.4s;">to</span>
      <span class="word-fade" style="animation-delay: 1.6s;">my</span>
      <span class="word-fade" style="animation-delay: 1.8s;">portfolio!</span>
    </h2>
  </div>
</Layout>

<style>
  .profile-container {
      width: 300px;
      height: 300px;
      margin: 0 auto;
      border-radius: 50%;
      padding: 10px;
      background: linear-gradient(45deg, #f3ec78, #af4261);
      transition: all 0.3s ease-in-out;
  }

  .profile-container:hover {
      transform: scale(1.05);
      box-shadow: 0 0 20px rgba(243, 236, 120, 0.6), 0 0 20px rgba(175, 66, 97, 0.6);
  }
  .profile-gif {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      transition: transform 0.3s ease-in-out;
  }
  .profile-container:hover .profile-gif {
      transform: rotate(5deg);
  }
  .hover-scale {
    transition: color 0.3s, transform 0.3s;
  }

  .hover-scale:hover {
    color: #ff6b6b;
    transform: scale(1.01);
  }

  .word-fade-container {
    text-align: center;
  } 

  .fade-in {
    opacity: 0;
    transform: translateY(200px);
    animation: fadeIn 4s forwards;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(200px);
    }
    50% {
      opacity: 0.8;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .word-fade {
    opacity: 0;
    transform: translateY(20px);
    display: inline-block;
    animation: fadeInWord 1s forwards;
  }

  @keyframes fadeInWord {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
