---
import "../styles/About.css";
---

<section id="about">
  <div class="about-container">
    <h1 class="about-title">About Me</h1>
    <div class="about-content">
      <p>
        I'm a passionate programmer on a constant quest for innovation, striving to carve my niche in the tech world. With a knack for swiftly mastering programming languages, I relish turning ideas into reality through innovative projects.
      </p>
      <p>
        As an open source advocate, I believe in the power of collaboration and community-driven development. Linux is my trusted companion, empowering my journey as I explore various technical domains. I constantly seek to push boundaries in my work.
      </p>
      <p>
        Beyond coding, I’m passionate about sharing my knowledge with others. I offer mentorship to those eager to learn and grow in their tech journeys, helping them unlock their potential and guiding them through challenges.
      </p>
      <p>
        Prompt engineering is my forte, aided by the adept utilization of AI tools for task optimization. I'm constantly pushing forward, experimenting, learning, and innovating.
      </p>
    </div>
  </div>
</section>
