---
import "../styles/Banner.css";
---

<div class="banner">
  <nav class="nav-links">
    <div class="left-links">
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/projects">Projects</a>
      <a href="/contact">Contact</a>
    </div>
    <div class="socials">
      <a href="https://github.com/arungeorgesaji" target="_blank" aria-label="GitHub">
        <img src="github-logo.svg" alt="GitHub" class="social-icon" />
      </a>
      <a href="https://discordapp.com/users/894470551094059039/" target="_blank" aria-label="Discord">
        <img src="discord-logo.png" alt="Discord" class="social-icon" />
      </a>
    </div>
  </nav>
</div>
