---
import BlogPostCard from '../components/BlogPostCard.astro';
import "../styles/Blog.css";
import { getCollection } from 'astro:content'; 
import type { CollectionEntry } from 'astro:content';

const blogPosts = await getCollection("blog"); 
---

<section id="blog">
  <header class="blog-header">
     <h1>Latest Blog Posts</h1>
     <p class="blog-subtitle">Exploring the world of coding, development, and open-source.</p>
  </header>

  <main class="blog-main">
    <section class="blog-posts-grid">
      {blogPosts.map((post) => (
        <BlogPostCard 
          title={post.data.title} 
          description={post.data.description}
          link={`/blog/${post.slug}`} 
          date={post.data.date} 
        />
      ))}
    </section>
  </main>
</section>
