---
import "../styles/BlogPostCard.css";

export interface Props {
  title: string;
  description: string;
  link: string;
  date: string;
}

const { title, description, image, link, date } = Astro.props;
---

<article class="blog-post-card">
  <h2 class="post-title">{title}</h2>
  <p class="post-date">{date}</p>
  <p class="post-description">{description}</p>
  <a href={link} class="read-more-btn">Read More</a>
</article>
