---
import ExperienceItem from './ExperienceItem.astro';
import "../styles/Experience.css";
---

<section id="experience">
  <div class="experience-container">
    <h1 class="experience-section-title">My Experience</h1>
    <p class="experience-section-description">
      Below are some of the professional experiences that have shaped my skills and contributed to my growth in the tech industry.
    </p>
    <div class="experience-list">
     <ExperienceItem 
        title="Nest Digital" 
        role="Intern" 
        duration="April 2024 - May 2024"  
         description="Worked on diverse AI projects with a focus on natural language processing (NLP). Developed a helpdesk bot using RASA to automate access requests and streamline internal processes. Contributed to several mini-projects aimed at learning and achieving smaller objectives. Utilized various frameworks and libraries in Python, including Django, TensorFlow, PyTorch, Matplotlib, Pandas, NumPy, and Chromadb."
     /> 
  </div>
</section>

