---
import ExperienceItem from './ExperienceItem.astro';
import "../styles/Experience.css";
---

<section id="experience">
  <div class="experience-container">
    <h1 class="experience-section-title">My Experience</h1>
    <p class="experience-section-description">
      Below are some of the professional experiences that have shaped my skills and contributed to my growth in the tech industry.
    </p>
    <div class="experience-list">
     <ExperienceItem 
        title="Nest Digital" 
        role="Intern" 
        duration="April 2024 - May 2024"  
         description="Worked on diverse AI projects focusing on NLP, including a RASA-based helpdesk bot to automate access requests. Gained experience with Python frameworks like Django, TensorFlow, PyTorch, Pandas, NumPy, and Chromadb through various mini-projects."
     /> 
  </div>
</section>

