---
import ProjectItem from './ProjectItem.astro';

import "../styles/Projects.css";
---

<section id="projects">
  <div class="projects-container">
    <h1 class="projects-title">My Projects</h1>
    <p class="projects-description">
      Here are some of the open-source projects I've passionately worked on. Each project showcases my dedication to technology and problem-solving. While these projects involve collaboration with other contributors, I take pride in being an active participant, often playing a significant role in their development and success.
    </p>
    <div class="project-list">
      <ProjectItem 
        title="VortexLinux" 
        description="Vortex Linux is a groundbreaking Linux distribution designed for maximum security, flexibility, and stability. By seamlessly integrating containers and virtual machines (VMs).Vortex Linux offers a unique, immutable, and atomic operating system that caters to the needs of both novice and advanced users." 
        link="https://github.com/Vortex-Linux"
        role="Founder"
        duration="May 2024 - Present"  
      />
    </div>
    <br>
    <div class="project-list">
      <ProjectItem 
        title="VeraNet" 
        description="Developed decentralized, privacy-focused solutions including secure communication tools, a decentralized network, encrypted file-sharing, and identity management systems to empower users with control over their data and digital security." 
        link="https://github.com/vera-net"
        role="Founder"
        duration="January 2025 - Present"  
      />
    </div>
    <br>
    <div class="project-list">
      <ProjectItem 
        title="AegisLang" 
        description="Aegis is a high-performance systems programming language designed to enhance safety, productivity, and cross-platform compatibility. It integrates multiple programming paradigms, including systems, functional, and concurrency-oriented programming, providing flexibility for complex applications. Aegis emphasizes advanced memory management, structured concurrency, and powerful tooling to meet the needs of modern system-level software."
        link="https://github.com/vera-net"
        role="Founder"
        duration="January 2025 - Present"  
      />
    </div>
  </div>
</section>
